In [53]:
import pandas as pd
import numpy as np

families = pd.read_csv('families.csv')
marriages = pd.read_csv('marriages.csv')
individuals = pd.read_csv('individuals.csv').set_index('Person')

In [55]:
families.rename(columns = {'Family':'Marriage'}, inplace = True)

db_mothers = marriages[['Marriage','Wife']]
db_fathers = marriages[['Marriage','Husband']]

db_mothers = families.join(db_mothers.set_index('Marriage'), on='Marriage')
db_fathers = families.join(db_fathers.set_index('Marriage'), on='Marriage')

db_mothers.rename(columns = {'Wife':'Parent'}, inplace = True)
db_fathers.rename(columns = {'Husband':'Parent'}, inplace = True)

parents = pd.concat([db_fathers, db_mothers], ignore_index=True)

parents = parents[['Child', 'Parent']]

C:\Users\nena\AppData\Local\Temp/ipykernel_432/4263668213.py:15: FutureWarning: In a future version of pandas all arguments of DataFrame.set_index except for the argument 'keys' will be keyword-only
  parents.set_index('Child', 'Parent')

          Parent
Child
[I0003]  [I0002]
[I0004]  [I0002]
[I0005]  [I0002]
[I0006]  [I0002]
[I0007]  [I0002]
...          ...
[I2996]  [I2999]
[I3006]  [I2999]
[I2999]  [I3000]
[I3000]      NaN
[I2995]  [I3008]

[4036 rows x 1 columns]